@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    height: 100vh;
}

.ql-editor{
    font-size: 1.05rem;
}
.post-content p{
    margin-bottom: 0.5rem;

}

.post-content h1{
    font-size: 1.5rem;
    font-weight: 600;
    font-family: 'sans-serif';
    margin: 1.5rem 0;
}

.post-content h2{
    font-size: 1.4rem;
    font-weight: 600;
    margin: 1.5rem 0;
}

.post-content a{
  color:rgb(73,149,199);
  text-decoration: none;
}
.post-content a:hover{
    text-decoration: underline;
}
.dark .post-content a{
   color: red;
}


.image-container {
    max-width: 100%; /* Ensure container stretches to fit its parent */
    height: auto; /* Ensure container adjusts height accordingly */
}

.post-image {
    max-height: 600px; /* Set maximum height */
    width: 100%; /* Ensure image takes full width of its container */
    max-width: 100%; /* Make image responsive */
    height: auto; /* Maintain aspect ratio */
    object-fit: cover; /* Maintain aspect ratio while covering entire container */
    object-position: center; /* Center the image within the container */
    margin-top: 10px; /* Optional: Add margin */
    padding: 3px; /* Optional: Add padding */
}